# Mengabaikan direktori vendor, upload, dan cache
/vendor/
/upload/
/cache

# Mengabaikan file london_crime_by_lsoa.csv
london_crime_by_lsoa.csv
nyc-rolling-sales.csv
rideshare_kaggle.csv
nbaallelo.csv
weatherAUS.csv
heart_failure_clinical_records_dataset.csv
property_data.csv
obes.xls
opsd_germany_daily.csv
Canada.xlsx
bank.csv

# Mengabaikan file ETC
refrensi.ipynb
PYTN_KampusMerdeka_fp2_Hafidz.ipynb
PYTN_Assgn_3_5_Hafidz.ipynb
decision_tree


# Mengabaikan File txt 
*.txt

# Mengabaikan File pdf
*.pdf
